<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net40" />
  <package id="Cassette" version="2.4.2" targetFramework="net452" />
  <package id="Cassette.Hogan" version="2.4.2" targetFramework="net452" />
  <package id="Cassette.Less" version="2.4.2" targetFramework="net452" />
  <package id="Cassette.Nancy" version="2.2.1" targetFramework="net40" />
  <package id="DotlessClientOnly" version="1.5.2" targetFramework="net452" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="Jurassic" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Nancy" version="1.4.3" targetFramework="net40" />
  <package id="Nancy.Authentication.Forms" version="1.4.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net40" />
  <package id="Nancy.Serialization.ServiceStack" version="0.21.1" targetFramework="net452" />
  <package id="Nancy.Validation.FluentValidation" version="1.4.1" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net40" />
  <package id="NLog" version="4.3.4" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.56" targetFramework="net452" />
</packages>