<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Visual Studio Magazine - Demo Service Configurator</title>
		<link rel="stylesheet" type="text/css" href="content/layout.css" />
		<link rel="stylesheet" type="text/css" href="content/style.css" />
	</head>
	<body>
		<div class="container_4">
			<div class="grid_4">
				<div class="sep"></div>
			</div>
		</div>
		<div class="container_4">
			<div class="grid_4">
				<div class="title">VSM Demo Site</div>
			</div>
		</div>
		<div class="container_4">
			<div class="grid_4">
				<div class="sep"></div>
			</div>
		</div>
		<div class="container_4">
			<div class="grid_4">&nbsp;</div>
		</div>
		<div class="container_4">
			<div class="grid_1">
				<div class="navarea padtop">
					<a href="/">Main</a><br/>
					<a href="/config">Configuration</a><br/>
					<a href="#">Item 1</a><br/>
					<a href="#">Item 2</a><br/>
				</div>
			</div>
			<div class="grid_2">
				<div class="maincontent">@Section['Content']</div>
			</div>
			<div class="grid_1">
				<div class="other padtop">@Section['Other']</div>
			</div>
		</div>
	</body>
</html>