body
{
	font-family: Verdana, Tahoma, Arial;
}

.title {
	font-size: 2em;
	font-weight: bold;
	background-color: #cccccc;
	padding: 10px;
}

.pageTitle {
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 8px;
}

.sep 
{
	height: 4px;
	background-color: black;
}

.padtop {
	padding-top: 20px;
	padding-bottom: 40px;
}

.navarea 
{
	background-color: rgb(185, 192, 255);
	padding: 10px;
}

.maincontent {
}

.other
{
	background-color: rgb(185, 192, 255);
	padding: 10px;
}

.caption {
	text-align: right;
}

.message {
	border: 1px solid black;
	padding: 4px;
	margin-top: 8px;
	font-weight: bold;
	font-style: italic;
}
