
@{
    ViewBag.Title = "Menus";
    Layout = "~/Views/_SharedLayout.cshtml";
}

@*<nav class="menus"></nav>
<script>
    $(".menus").menus({
        getUri: '@Url.Action("GetMenus", "Menus")',
        header: "Manage Menus",
        autoFillDataUrl: '@Url.Action("GetAutoFillData", "Menus")',
        saveUri: '@Url.Action("Save", "Menus")',
        deleteUri: '@Url.Action("Delete", "Menus")'
    });
</script>*@

